entrypoint = "index.js"
modules = ["nodejs-20", "web"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "autoscale"
ignorePorts = false
build = ["npm", "run", "build"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "nextjs-app"

[[workflows.workflow]]
name = "nextjs-app"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36109
externalPort = 4200

[[ports]]
localPort = 39101
externalPort = 3002

[[ports]]
localPort = 40651
externalPort = 3003

[[ports]]
localPort = 43711
externalPort = 3001
